DATABASE_URL=postgresql+psycopg2://usuario:clave@localhost/sistema_mensajeria
SECRET_KEY=cambia-esta-clave-local
FLASK_DEBUG=1

CORREO_EMISOR=correo-del-sistema@gmail.com
CORREO_CLAVE_APP=pega-aqui-la-clave-app-de-gmail
CORREO_DESTINO_STARKEN=correo-destino@empresa.com

CLAVE_ELIMINACION_HISTORICO=cambia-esta-clave
RESPALDOS_LOTES_DIR=respaldos_lotes
