DATABASE_URL=postgresql+psycopg2://usuario:clave@localhost/sistema_mensajeria
CLOUD_DATABASE_URL=postgresql+psycopg2://usuario:clave@host-cloud/base-cloud
SECRET_KEY=cambia-esta-clave-local
FLASK_DEBUG=1
LOGIN_REQUIRED=0
APP_USERS=mensajeria:clave-mensajeria;recepcion:clave-recepcion;seguridad:clave-seguridad

CORREO_EMISOR=correo-del-sistema@gmail.com
CORREO_CLAVE_APP=pega-aqui-la-clave-app-de-gmail
CORREO_DESTINO_STARKEN=correo-destino@empresa.com
CORREO_RESPALDO_MENSAJERIA=mensajeria.alcantara@loreal.com
EMAIL_PROVIDER=smtp
BREVO_API_KEY=pega-aqui-la-api-key-si-usas-brevo
BREVO_SENDER_NAME=Portal Operativo
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_LOGIN=pega-aqui-el-login-smtp-si-usas-brevo-smtp
BREVO_SMTP_PASSWORD=pega-aqui-la-clave-smtp-si-usas-brevo-smtp

OF_IMAP_HOST=imap.gmail.com
OF_IMAP_PORT=993
OF_CORREO_FILTRO_REMITENTE=
OF_CORREO_FILTRO_TEXTO=

CLAVE_ELIMINACION_HISTORICO=cambia-esta-clave
RESPALDOS_LOTES_DIR=respaldos_lotes
