{% extends "base.html" %}

{% block title %}Reportes y excepciones{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reportes.css') }}">
{% endblock %}

{% block content %}
<div class="reportes-page">
    {% set movimientos_reporte = movimientos|default({}, true) %}
    {% set evidencias_reporte = evidencias|default({}, true) %}
    {% set tipos_movimiento_lista = tipos_movimiento|default([], true) %}
    {% set resultados_cierre_lista = resultados_cierre|default([], true) %}
    {% set grupos_reportes = reportes_agrupados|default([], true) %}

    {% include "reportes/_hero.html" %}

    <section class="reportes-layout">
        {% include "reportes/_lista.html" %}
        {% include "reportes/_formulario.html" %}
    </section>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/reportes.js') }}"></script>
{% endblock %}
